<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Weather</title>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
        {{!-- <h2>{{title}}</h2> --}}
        <h3>{{name}}</h3>
        </div>
        
        {{>footer}}
    </body>
</html>