<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Weather</title>
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <h2>{{title}}</h2>
        <h3>{{name}} <a style="color:blueviolet">rithinreddy25@gmail.com</a></h3>
        </div>
        {{>footer}}
    </body>
</html>